<div style="margin-top: 10px;">
  <div class="input-group">
    <input type="file" class="form-control" id="customFile" (change)="onChange($event)" multiple>
    <!-- <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button> -->
  </div>
  <label for="customFile" id="customFileLabel"></label>
</div>
<div style="margin-top: 10px;">
  <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">Upload</button>
</div>

<!-- <div class="mb-3">
  <input class="form-control" type="file" id="formFile">
</div>

<div style="margin-top: 10px">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" (change)="onChange($event)" multiple />
    <label class="custom-file-label" for="customFile" id="customFileLabel">Selecionar Arquivo</label>
  </div>
</div> -->


