<div class="container search-table">
  <div class="search-box">
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          id="myInput"
          class="form-control"
          [formControl]="queryField"
          placeholder="Pesquisar Libs no CDN"
        />
      </div>
      <div class="col-auto" style="visibility: hidden;" >
        <button class="btn btn-lg btn-success" (click)="onSearch()">
          Pesquisar
        </button>
      </div>
    </div>
  </div>
  <div class="search-list">
    <h3>{{ total }} Registros Encontrados.</h3>
    <table class="table" id="myTable">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Vesão</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results$ | async">
          <td>{{ result.name }}</td>
          <td>{{ result.version }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
